doctype 5
html(ng-app='app')
  head
    title= title
    != css('style')
    link(rel='stylesheet', href='/stylesheets/angular-slider.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA-sIjFbtm0d9iao79i8fN7ibfRLqUUBlw&sensor=false')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js")
    script(type='text/javascript', src='javascripts/angular-slider.min.js');
    script(type='text/javascript', src='javascripts/ui-bootstrap.min.js');
    script(type='text/javascript', src='javascripts/moment.min.js');
    != js('maps')
  body
    block content
